@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Montserrat', sans-serif;
    font-size: size(13);
}
html {
    font-size: 100%;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    ul {
      padding: 0;
    }
    @media only screen and (max-width: 768px) {
      font-size: 75%;
    }
  }
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.container {
  @apply my-0 sm:max-w-none md:max-w-none px-[6.5rem];
}

.nuxt-exact-active-link {
  @apply after:absolute after:content-[''] after:w-full after:h-1 after:bg-primary-200 after:top-[53px]
}